.blog {
    background: #F2F2F2;

    &__title{
        font-family: "Open Sans Condensed";
        font-style: normal;
        font-weight: bold;
        font-size: 55px;
        line-height: 75px;
        text-align: center;
        padding-bottom: 40px;
        padding-top: 54px;
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__button{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 18px;
        border:none;
        display: flex;
        justify-content:center;
        color: black;
        margin-top: 29px;
        padding-bottom: 55px;
        
        }
}
a:hover{
    text-decoration: none !important;

}