.header {
    
  background: #FFFFFF;
 
  display: flex;
  justify-content: space-between;
  
  &__logo{
    cursor: pointer;
    transition: 1s;
    &:hover{

      
      transform: scale(1.2);
    }
    width: 115px;
    height: 47.57px;
    background-image: url("./img/logo.png");
    background-position: initial;
    background-size: contain;
    margin-top: 27px;
    margin-bottom: 26.43px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }

  &__navigation {
    width:228px !important;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navigation_normal {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    align-items: center;

    color: #000000;
    &:hover{
      text-decoration: underline;
    }
  }
a{
  
  &:hover {
    text-decoration: underline;
    color: red;
    }
}
}
