.header {
    
  background: #FFFFFF;
 &__content{
  display: flex;
  justify-content: space-between;
 }
  &__logo{
    cursor: pointer;
    transition: 1s;
    &:hover{

      
      transform: scale(1.2);
    }
    width: 115px;
    height: 47.57px;
    background-image: url("./img/logo.png");
    background-position: initial;
    background-size: contain;
    margin-top: 27px;
    margin-bottom: 26.43px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
}
  
