<div class="blog">
    <div class="container">
        <div class="blog__title">
            МОЙ БЛОГ
        </div>
        <div class="blog__content">
                @@include('./../components/news.html')
                @@include('./../components/news.html')
                @@include('./../components/news.html')
        </div>
       
        <div class="blog__button">
            @@include('./../components/button.html', {
                "text_button":"ПОСМОТРЕТЬ ВСЕ НОВОСТИ",
                "link":"MyBlog.html"
            })
        </div>
        
    </div>
</div>