<div class = "links">
    
        <div class="container">
            <h2 class ="links__content_strong"> КОНТАКТЫ</h2>
            <div class="links__content">

           <a href="https://vk.com/id187885239"> 
               <div class = "linkback">
                    <div class="link__content">
                         <div class="vector1"> </div>  
                         <div class="link__text">ПЕРЕЙТИ В ВК</div>  
                    </div>          
               </div>
          </a>

          <a href="https://www.instagram.com/lexabossss/">
               <div class = "linkback">
                         <div class="link__content">
                              <div class="vector2"> </div>  
                              <div class="link__text">ПЕРЕЙТИ В ИНСТАГРАММ</div>  
                         </div>          
               </div>
          </a>
          
          <a href="tel:89869579180"> 
                    <div class = "linkback">
                              <div class="link__content">
                                   <div class="vector3"> </div>  
                                   <div class="link__text">ПОЗВОНИТЬ МНЕ</div>  
                              </div>          
                    </div>
          </a>    

          <a href=""> 
                    <div class = "linkback">
                              <div class="link__content">
                                   <div class="vector4"> </div>  
                                   <div class="link__text">НАПИСАТЬ МНЕ</div>  
                              </div>          
                    </div>
          </a>  
          </div> 
          <a href="">
               <div class="phonepic"> 
                    <img class= "phonepc__vector" src="./img/vector.png"> 
               </div>
               <div class="phonepic2"></div> 
                    
          </a>
        </div>
    </div>