<div class="blog2">
    <div class="container">

        <div class="blog2__title">
            МОЙ БЛОГ
        </div>
        <div class="blog2__content">
                @@include('./../components/news.html')
                @@include('./../components/news.html')
                @@include('./../components/news.html')
                @@include('./../components/news.html')
                @@include('./../components/news.html')
                @@include('./../components/news.html')
        </div>
        <div class="blog2__button">
            @@include('./../components/button.html', {
                "text_button":"ЗАГРУЗИТЬ ЕЩЕ"})
        </div>



    </div> 
</div>

<!-- <div class="grid-box">
    <div class="grid-box__item grid-box__item_1">
        first
    </div>
    <div class="grid-box__item grid-box__item_2">
        second
    </div>
    <div class="grid-box__item grid-box__item_3">
        third
    </div>
    <div class="grid-box__item grid-box__item_4">
        fours
    </div>
</div> -->

<!-- <div class="plit">
    <div class="plit__item"> <div class="plit__item2">1</div></div>
    <div class="plit__item"> <div class="plit__item2">2</div></div>
    <div class="plit__item"> <div class="plit__item2">3</div></div>
    <div class="plit__item"> <div class="plit__item2">4</div></div>
    <div class="plit__item"> <div class="plit__item2">5</div></div>
    <div class="plit__item"> <div class="plit__item2">6</div></div>
    <div class="plit__item"> <div class="plit__item2">7</div></div>


</div> -->


