<div class="blog2">
    <div class="container">

        <div class="blog2__title">
            МОЙ БЛОГ
        </div>
        <div class="blog2__content">
                @@include('./../components/news.html')
                @@include('./../components/news.html')
                @@include('./../components/news.html')
                @@include('./../components/news.html')
                @@include('./../components/news.html')
                @@include('./../components/news.html')
        </div>
        <div class="blog2__button">
            @@include('./../components/button.html', {
                "text_button":"ЗАГРУЗИТЬ ЕЩЕ"})
        </div>


    </div> 
</div>